<div class="header-modal">
 <button mat-mini-fab (click)="cerrar()">
    <mat-icon>clear</mat-icon>
 </button>
 <h1>{{data.message}}</h1>   
</div>

<mat-dialog-content>
    <div *ngIf="data.info; else SubirImg">
        <app-borrar-img [imgs]="data.info" [database]="data.database" [id]="data.id"></app-borrar-img>
    </div>
    <ng-template #SubirImg>
        <app-subir-img [carpeta]= "data.carpeta" [database]="data.database" [id]="data.id"></app-subir-img>
    </ng-template>
</mat-dialog-content>
