<div *ngIf="modo==='normal'">
    <div class="contenedor-covid">
        <div>
            <h1>Procedimiento para Turismo en el contexto de pandemia</h1>
            <p>El Ministerio de Salud de la Provincia de Córdoba ha actualizado el PROTOCOLO DE PROCEDIMIENTO PARA EL TURISMO EN EL CONTEXTO DE LA PANDEMIA COVID-19. La finalidad del mismo, es dejar clara la manera de proceder frente a casos sospechosos y confirmados de COVID-19 de personas que realicen viajes con fines turísticos en la Provincia de Córdoba. Este protocolo alcanza a todas las personas que estén realizando actividades turísticas dentro de la Provincia y estén en una localidad distinta a su domicilio de residencia.</p>
            <p>Para más información, acceda en <a href="https://www.nonoturismo.gob.ar/venitranquilo" target="_blank">este link</a> donde encontrará informacion brindada por la Municipalidad de Nono y el Gobierno de la Provincia de Córdoba</p>
            
            <h2>Protocolos de Sanidad</h2>
            <p>Desde Hospedaje Dalmar queremos asegurarnos el cumplimiento de los protocolos establecido, por lo que al ingresar en tu estadia, te pediremos completar este formulario brindado por la Municipalidad de Nono. Entre todos podremos cuidarnos.
            </p>

        </div>  
        <img src="./../../../../../assets/Consentimiento de bioseguridad.jpg"> 
    </div>
    
</div>
<div *ngIf="modo==='admin'">
    <p>protocolo works ADM!!</p>
</div>

