.contenedor{
    padding-top: 10rem;
}

.contenedor-covid{
    padding: 4rem 2rem;
    display: flex;
}
.contenido{
    display: flex;
}

img{
    max-height: 40rem;
}

h1, h2{
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    color: #202020d0;
    text-decoration: underline;
}

p{
    text-align: justify;
    padding: 0 3rem 0 4rem;
    font-size: 1.5rem;
    line-height: 3rem;
}
a{
    text-decoration: none;
    color: #006064;
    font-weight: bold;
}
.editCard{
    padding-right: 1rem;
    margin-top: -2rem;
}

@media (max-width: 768px) {
    
    .contenedor-covid{
        flex-direction: column;
        padding: 1rem 0;
    }
    .contenido{
        display: flex;
        flex-direction: column-reverse;
    }

    .editCard{
        display: flex;
        justify-content: center;
        padding-right: 0;
        margin-top: 0;
        padding-bottom: 2rem;
    }

    p{
        padding: 0 2rem
    }
}