.mat-table{
    width: 95%;
    margin: 0 0 1rem 1rem;
}
mat-form-field{
    padding: 0 1rem;    
    font-size: 2rem;
    width: 100%;
}

mat-header-cell{
    font-size: 1.75rem;
    color: #006064;
    font-weight: bold;

}
mat-cell{
    font-size: 1.5rem;
}

mat-paginator{
    margin: 1rem 2rem 1rem 1rem;
    font-size: 1.5rem;
}

button{
    margin-left: 0.5rem;
}

.resaltado { background-color: #3bffde3a; }

.relleno{
    height: 7rem;
}

@media (max-width: 768px) {
    mat-header-cell{
        display: none;
    }

    .mat-table {
        border: 0;
        vertical-align: middle;
        padding: 1rem;
    }
    
    .mat-table caption {
    font-size: 1em;
    }

    .mat-table .mat-row {
    border-top: 0.5rem solid #006064;
    display: block;
    padding-bottom: 3rem;
    }
    
    .mat-table .mat-cell {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 1.2rem;
    text-align: right;
    font-weight: bold;
    height:30px;
    margin-bottom: 4%;
    }
    .mat-table .mat-cell:before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: normal;
    font-size: .85em;
    }

    .mat-cell:before {
    font-weight: bold;
    color: #006064;
    }

    .mat-table .mat-cell:last-child {
    border-bottom: 0;
    }
    .mat-table .mat-cell:first-child {
    margin-top: 2rem;
    }

    mat-cell:first-of-type, mat-header-cell:first-of-type, mat-footer-cell:first-of-type {
        padding-left: 0;
    }

    mat-form-field{ 
        font-size: 1.5rem;
    }
    
}

