/* Structure */
table {
    width: 95%;
    margin-left: 1rem;
}
mat-form-field{
    padding: 0 1rem;    
    font-size: 2rem;
    width: 100%;
}

th{
    font-size: 2rem;
}
td{
    font-size: 1.5rem;
}

mat-paginator{
    margin: 1rem 2rem 1rem 1rem;
    font-size: 1.5rem;
}

button{
    margin-left: 0.5rem;
}

.resaltado { background-color: #3bffde3a; }

@media (min-width: 768px) {
    table{
        margin-left: 2rem;
    }
    
}