.contenedor-login{
    height: 50rem;
    padding: 5rem 1rem;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/hospedaje-dalmar.appspot.com/o/shared%2F2582ecdc39bd9c18a2655322ff7cda4e.jpg?alt=media&token=01947c52-4ec2-4229-98c3-4f64920139d9");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

mat-card{
    max-width: 30rem;
    margin: 2rem auto;
    text-align: center;
    height: auto;
    border-radius: 10%;
    opacity: 0.9;
    padding-bottom: 2rem;
}

.max-width{
    width: 100%;
}

h1{
    color: white;
    background-color: #006064;
    font-size: 2rem;
}

button{
    width: 100%;
    margin-top: 1rem;
    font-size: 1.5rem;
}

mat-icon{
    margin-right: 0.5rem;
}
.face-btn{
    background-color: #4867AA;
    color: #F5F5F5;
}

input{
    font-size: 1.5rem;
}

input::placeholder{
    font-size: 1.5rem;
}

mat-form-field{
    font-size: 1.5rem;
}

@media (max-width: 768px) {
    .contenedor-login{
        height: 70rem;
    }
    
}

