.container{
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/hospedaje-dalmar.appspot.com/o/shared%2F16841-azul.jpg?alt=media&token=b146e212-24c6-4902-92ff-3d2b50eb46ce");
    background-size: cover;
}
.imagenFooter{
    width: 17rem;
    margin: auto;
}

img{
    border-radius: 50%;
    display: block;
    margin: auto;
}

span{
    display: block;
    font-size: 1rem;
    margin: 0 auto;
}

form{
  padding: 2rem;
  min-width: 8.5rem;
  max-width: 31rem;
  margin: auto;
}

button{
    display:block;
    margin: 0 auto;
    width: 40%;
}
.half-width {
    width: 50%;
}

.full-width {
    width: 100%;
}
mat-form-field{
    padding: 0.5rem 0;
}

mat-list{
    width: 28rem;
    margin: auto;
}

a{
    text-decoration: none;
    color: black;
    display: flex;
    font-size: 1.5rem;
}
mat-list-item div{
 padding-top: 0.25rem;
}

mat-icon{
    padding-right: 3rem;
    font-size: 2rem;
}

.item{
    font-size: 1.5rem;
}

mat-icon:hover{
    transform : scale(1.25);
    -moz-transform : scale(1.25); /* Firefox */
    -webkit-transform : scale(1.25); /* Chrome - Safari */
    -o-transform : scale(1.25); /* Opera */
    -ms-transform : scale(1.25); /* IE9 */
    
}

.mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
    height: 5rem;
}

#ubication:hover{
    color: #C0392B;
}
#call:hover{
    color: #d6aa0a;
}
#email:hover{
    color: #39ad4e;
}
#facebook:hover{
    color: #285296;
}


h4{
    text-align: center;
    font-size: 2rem;
    text-decoration: underline;
    margin: 0;
}
p{
    max-width: 19.5rem;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    margin: auto;
    padding-top: 2rem;
    line-height : 2rem;
}
span{
    font-size: 1.5rem;
}

mat-label{
    font-size: 1.5rem;
}

input{
    font-size: 1.5rem;
}

@media (min-width: 768px) {
    .container{
        display: flex;
        justify-content: space-between;
    }

}