<div class="conteinerNavbar">
  <div class="navFooter"></div>
  <mat-list>
    <div><a href="https://goo.gl/maps/S764i7bJf84bAnYT8" target="_blank"><mat-icon color="primary">room</mat-icon>Vicente Castro, Nono, Argentina</a></div>
    <div><a><mat-icon color="primary" id="call">call</mat-icon>+54 (3544) 556688</a></div>
    <div><a><mat-icon color="primary" id="email">email</mat-icon>marian_1490_1@hotmail.com</a></div>
    <div><a href="http://facebook.com/HospedajeDalmar" target="_blank"><mat-icon color="primary">facebook</mat-icon>HospedajeDalmar</a></div>
  </mat-list>

  <mat-toolbar color="secondary">
      <div><img src="https://firebasestorage.googleapis.com/v0/b/hospedaje-dalmar.appspot.com/o/shared%2FHospedaje%20Dalmar.png?alt=media&token=e8a33332-fc1f-41f4-a877-f876fda6de15" height="150px" width="150px"></div>
      <span class="example-spacer"></span>
      <div>
        <mat-nav-list>
          <mat-list-item mat-button *ngFor="let list of navList">
            <a class="botonesNavbar" [routerLink]="list.link">{{list.title}}</a>
          </mat-list-item>
        </mat-nav-list>
      </div>
      <div class="botonMenu">
        <button mat-mini-fab color="primary" (click)="funcionToggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
  </mat-toolbar>
</div>
