.normal{
    padding-top: 8rem !important;
}

.promociones{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


.btn-newCard{
    display: block;
    min-width: 25rem;
    margin: 2rem auto;
    font-size: 1.5rem;
}

button img{
    height: 3rem;
    width: 3.6rem;
    border-radius: 50%;
}

.example-card {
    margin: 2rem;
    width: 95%;
    height: auto;
    padding: 3rem;
}

.normal mat-card-header{
    display: flex;
    justify-content:left;
}

mat-card-header{
    display: flex;
    justify-content: space-between;
}

.mat-card-header .mat-card-title {
    font-size: 1.75rem;
}
.mat-card-header .mat-card-subtitle {
    font-size: 1.25rem;
    margin-top: 0;
}

.button-card{
    display: flex;
}


.button-card button{
    margin-left: 1rem;
}

.button-card button mat-icon{
    font-size: 1.6rem;
}


.example-header-image {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/hospedaje-dalmar.appspot.com/o/shared%2FHospedaje%20Dalmar.png?alt=media&token=e8a33332-fc1f-41f4-a877-f876fda6de15');
    background-size: cover;
}

.imgProd{
    height: 17rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.mat-card-content{
    padding-top: 1rem;
    border-top: solid 2px #006064;
}

p{
    padding-top: 0.5rem;
    font-size: 1rem;
}

h3{
    font-size: 1.5rem;
    text-align: justify;
    font-weight: bold;
    color: #006064;
}

.mat-card-actions{
    display: flex;
    justify-content: center;
}

.whatsapp{
    width: 60%;
}

@media (max-width: 768px) {

    .btn-newCard{
        min-width: 15rem;
        margin-bottom: 4rem;
    }

    .promociones{
        display: flex;
        flex-direction: column;
    }

    .example-card{
        height: auto;
        padding: 1rem;
        margin: 2rem auto;
    }
    
}