<div *ngIf="modo==='normal'" class="normal">
    <mat-grid-list [cols]="breakpoint" rowHeight="1:1.5" (window:resize)="onResize($event)">     
        <mat-grid-tile *ngFor="let promocion of promocionesData">
            <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>{{promocion.nombre}}</mat-card-title>
                  <mat-card-subtitle>{{promocion.capacidad}}</mat-card-subtitle>
                </mat-card-header>
                <div class="imgProd" [ngStyle]="{'background-image': 'url(' + promocion.imagen + ')'}">
                </div>
                <p>Tarifas con cupos limitados, hasta agotar stock. Solo con reserva previa.</p>
                <mat-card-content>
                  <h3>{{promocion.descripcion}}</h3>
                </mat-card-content>
                <mat-card-actions>
                    <button class="whatsapp" mat-raised-button color="primary"  (click)="enviarWA(promocion)"><img src="./../../../../../assets/WhatsApp_Logo_3.png" alt=""></button>
                </mat-card-actions>
              </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>
<div *ngIf="modo==='admin'">
        <button class="btn-newCard" mat-raised-button color="primary" (click)="newCard()">NUEVA CARD</button>      
        <mat-grid-list [cols]="breakpoint" rowHeight="1:1.5" (window:resize)="onResize($event)">
            <mat-grid-tile *ngFor="let promocion of promocionesData">
                <mat-card class="example-card">
                    <mat-card-header>
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title>{{promocion.nombre}}</mat-card-title>
                      <mat-card-subtitle>{{promocion.capacidad}}</mat-card-subtitle>
                      <div class="button-card">
                            <button mat-mini-fab color="primary" (click)="editarCard(promocion)">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-mini-fab color="primary" (click)="borrarCard(promocion)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>   
                    </mat-card-header>
                    <div class="imgProd" [ngStyle]="{'background-image': 'url(' + promocion.imagen + ')'}">
                    </div>
                    <p>Tarifas con cupos limitados, hasta agotar stock. Solo con reserva previa.</p>
                    <mat-card-content>
                      <h3>{{promocion.descripcion}}</h3>
                    </mat-card-content>
                    <mat-card-actions>
                        <button class="whatsapp" mat-raised-button color="primary" (click)="enviarWA(promocion)"><img src="./../../../../../assets/WhatsApp_Logo_3.png" alt=""></button>
                    </mat-card-actions>
                  </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
</div>

