img{
    border-radius: 50%;
    display: block;
    margin: 1rem auto 0 auto;
}

mat-nav-list{
    padding-top: 1rem;
}

mat-list-item{
    margin: 2rem 0;  
}

a{
    display: block;
    margin: 0 auto;
}

a:hover, a:active{
    color: lightgray;
}

mat-nav-list a, mat-icon{
    font-size: 1.5rem;
}
