<div *ngIf="modo==='normal'" class="contenedorHome">
    <app-carousel [items]= "carouselData" [database]= "databaseHome" [carpeta]= "carpetaHome"></app-carousel>
    <div class="nono">
        <mat-card class="card">
            <img mat-card-image src="./../../../../../assets/nono.jpg" alt="">
            <mat-card-content>
              <h1>Bienvenidos a Nono y a Hospedaje Dalmar</h1>
              <h3>
                <span>Nono</span> es uno de los pueblos más antiguos de Traslasierra (fundado a fines del 1700) y podemos pecar al decir que, es uno de los mas hermosos de la Provincia de Córdoba. Sus paisajes naturales, las calles de un pueblo muy pintoresco, la posibilidad de visitar un museo polifacético...son solo algunas de las cosas que este serrano lugar puede ofrecerte. <span>¡Anímate a descubrilo!</span> 
              </h3>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="carusel-prod">
      <h1>Habitaciones</h1>
      <div class="owl-carousel owl-theme" >
        <div class="item" *ngFor="let producto of productosData">
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>{{producto.nombre}}</mat-card-title>
              <mat-card-subtitle>{{producto.capacidad}}</mat-card-subtitle>
            </mat-card-header>
            <div class="imgProd" [ngStyle]="{'background-image': 'url(' + producto.imgs[0].urlImg + ')'}">
            </div>
            <mat-card-content>
              <button mat-raised-button><span>${{producto.valorPorNoche}}</span> precio por Noche</button>
            </mat-card-content>
            <mat-card-actions>
              <a routerLink="/productos">
              <button mat-raised-button color="primary">Ver Mas</button>            
              </a>
            </mat-card-actions>
          </mat-card>
        </div>
    </div>
    </div>
</div>
<div *ngIf="modo==='admin'">
    <app-carousel [items]= "carouselData" [database]= "databaseHome" [carpeta]= "carpetaHome"></app-carousel>
    <div class="nono">
      <mat-card class="card">
          <img mat-card-image src="./../../../../../assets/nono.jpg" height="250px" alt="">
          <mat-card-content>
            <h1>Bienvenidos a Nono</h1>
            <h3>
              Nono es uno de los pueblos más antiguos de Traslasierra (fundado a fines del 1700) y podemos pecar al decir que, es uno de los mas hermosos de la Provincia de Córdoba. Sus paisajes naturales, las calles de un pueblo muy pintoresco, la posibilidad de visitar un museo polifacético...son solo algunas de las cosas que este serrano lugar puede ofrecerte. <span>¡Anímate a descubrilo!</span> 
            </h3>
          </mat-card-content>
      </mat-card>
  </div>
</div>