<div *ngIf="modo==='normal'" class="contenedorHome">
    <app-carousel [items]= "carouselData" [database]= "databaseHome" [carpeta]= "carpetaHome"></app-carousel>
    <div class="nono">
        <mat-card class="card" *ngFor="let home of homeData">
            <img mat-card-image [src]="home.urlImg" alt="">
            <mat-card-content>
              <h1>{{home.titulo}}</h1>
              <h3>{{home.descripcion}}<span>{{home.span}}</span></h3>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="carusel-prod">
      <h1>Habitaciones</h1>
      <div class="owl-carousel owl-theme" >
        <div class="item" *ngFor="let producto of productosData">
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>{{producto.nombre}}</mat-card-title>
              <mat-card-subtitle>{{producto.capacidad}}</mat-card-subtitle>
            </mat-card-header>
            <div class="imgProd" [ngStyle]="{'background-image': 'url(' + producto.imgs[0].urlImg + ')'}">
            </div>
            <button class="precio" mat-raised-button><span>${{producto.valorPorNoche}}</span> precio por Noche</button>
            <mat-card-actions>
              <a routerLink="/productos">
              <button mat-raised-button color="primary">Ver Mas</button>            
              </a>
            </mat-card-actions>
          </mat-card>
        </div>
    </div>
    </div>
</div>
<div *ngIf="modo==='admin'">
    <app-carousel [items]= "carouselData" [database]= "databaseHome" [carpeta]= "carpetaHome"></app-carousel>
    <div class="nono">
      <mat-card class="card" *ngFor="let home of homeData">
          <img mat-card-image [src]="home.urlImg" alt=""> 
          <mat-card-content>
            <div class="editCard">
              <button mat-mini-fab color="primary" (click)="editarCard(home)">
                <mat-icon>edit</mat-icon>
              </button>              
            </div>
            <mat-card-content>
              <h1>{{home.titulo}}</h1>
              <h3>{{home.descripcion}}<span>{{home.span}}</span></h3>
            </mat-card-content>
          </mat-card-content>
      </mat-card>
  </div>
</div>